<app-header label="User Management"></app-header>
<app-list >
  <app-search-input></app-search-input>
  <div class="flex gap-4 items-center">
    <app-toggle-tabs></app-toggle-tabs>
    </div>
</app-list>
<!-- <app-confirmation-popup #delete_project_row label="Delete Project?" [delete_icon]="true" cancelText="CANCEL" confirmColor="bg-[#FA2912] text-[#FFFFFF]" confirmText="YES, DELETE IT" [is_mandatory]="true" (confirm_modal_clicked)="delet_project()" (close_modal_clicked)="delete_project_row.close()">
  This action cannot be undone, and all associated data will be permanently removed.
</app-confirmation-popup> -->