<div class="w-full">
  <div class="flex flex-col gap-2 w-full relative group" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
    <label class="text-gray-500 w-full font-medium text-sm">
      {{label}}
      <span *ngIf="is_required" class="text-red-600">*</span>
    </label>

    <div class="relative w-full">
      <input
        #time_input
        (ngModelChange)="onChange($event)"
        (blur)="focus(false)"
        (focus)="focus(true)"
        [type]="value ? 'time' : inputType"
        [disabled]="disabled || paramValue === 'true'"
        [placeholder]="inputType === 'text' ? 'Select time' : placeholder"
        [(ngModel)]="value"
        [id]="label"
        class="appearance-none rounded-lg px-4 pr-10 h-12 w-full text-sm text-gray-900 bg-white border border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-600 peer custom-time-input"
      />
      <i
        *ngIf="showIcon"
        class="bx bx-time-five absolute right-3 top-1/2 -translate-y-1/2 text-xl text-gray-600 cursor-pointer"
        (click)="openPicker()"
      ></i>
    </div>
  </div>

  <div *ngIf="control && control.errors && (control.dirty || control.touched)" class="error-messages">
    <p class="text-red-500" *ngIf="control.errors.required">{{ label }} is required.</p>
    <p class="text-red-500" *ngIf="control.errors.minlength">
      Minimum length required is {{ control.errors.minlength.requiredLength }}.
    </p>
    <p class="text-red-500" *ngIf="control.errors.maxlength">
      Maximum length allowed is {{ control.errors.maxlength.requiredLength }}.
    </p>
    <p class="text-red-500" *ngIf="control.errors.pattern">Please enter a valid {{ label }} value.</p>
  </div>
</div>
