<div class="w-full">
    <div class="flex flex-col gap-2 w-full" (mouseover)="onMouseOver()" (mouseleave)="onMouseLeave()">
        <!-- {{inputType}} -->
        <!-- {{is_focused}} -->
        <!-- {{value}} -->

        <!-- {{value}} -->
        <label class="text-gray-500  w-full font-medium text-sm">{{label}}<span *ngIf="is_required" class="col-span-2 text-red-600">*</span></label>
        <input (ngModelChange)="onChange($event)" (blur)="focus(false)" (focus)="focus(true)" [type]="value? 'time' : inputType" [disabled]="disabled || paramValue === 'true'" [placeholder]="inputType === 'text' ? 'Select time' : placeholder" [(ngModel)]="value" [id]="label"
            class="appearance-none rounded-lg px-4 h-12 w-full text-sm text-gray-900 bg-white border border-gray-300 focus:outline-none focus:ring-0 focus:border-blue-600 peer" />
        <!-- <label [for]="label"
            class="pointer-events-none absolute text-sm text-gray-500 duration-300 transform -translate-y-4 scale-75 top-[7px] origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-[rgba(0,0,0,0.6)] peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1">
            {{label.includes('_') ? (label | capitalizString) : label}}
            <span *ngIf="is_required" class="col-span-2 text-red-600">*</span>
        </label> -->
        <!-- <i *ngIf="true" class='absolute bx bx-time-five right-4 bg-white text-2xl text-black dark:text-black top-1/2 transform -translate-y-1/2 pointer-events-none'></i> -->
    </div>
    <div *ngIf="control && control.errors && (control.dirty || control.touched)" class="error-messages">
        <p class="text-red-500" *ngIf="control.errors.required">{{label}} is required.</p>
        <p class="text-red-500" *ngIf="control.errors.minlength">Minimum length required is {{
            control.errors.minlength.requiredLength }}.
        </p>
        <p class="text-red-500" *ngIf="control.errors.maxlength">Maximum length allowed is {{
            control.errors.maxlength.requiredLength }}.
        </p>
        <p class="text-red-500" *ngIf="control.errors.pattern">Please enter a valid {{label}} value
        </p>
    </div>
</div>