@import 'ngx-toastr/toastr';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
#toast-container {
  position: fixed !important;
  top: 1.5rem !important;
  right: 1.5rem !important;
  z-index: 9999 !important;
  pointer-events: none;
  width: 270px;
}

#toast-container > div {
  pointer-events: auto;
  margin-top: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}


.toast-base {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 270px;
    height: 60px;
    border-radius: 8px;
    background: #fff;
    padding: 10px 14px;
    box-shadow: 2px 2px 4px 0px #00000030;
    font-weight: 500;
    font-size: 16px;
    position: relative;
  }
  
  .toast-base .toast-close-button {
    color: inherit;
    font-size: 18px;
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .toast-icon {
    margin-right: 10px;
    font-size: 20px;
  }
  
  .custom-success-toast {
    border-left: 4px solid #38AC4A;
    color: #38AC4A;
  }
  
  .custom-success-toast .toast-icon::before {
    content: '✔️';
  }
  
  .custom-error-toast {
    border-left: 4px solid #F97316;
    color: #F97316;
  }
  
  .custom-error-toast .toast-icon::before {
    content: '⚠️';
  }
  
  .custom-delete-toast {
    border-left: 4px solid #EF4444;
    color: #EF4444;
  }
  
  .custom-delete-toast .toast-icon::before {
    content: '❌';
  }
  