<app-header label="Project"></app-header>
<div class="h-[76px] w-full flex px-6 justify-between items-center border-b border-[#e4e7ec]">
  <app-search-input></app-search-input>
  <div class="flex gap-4 items-center">
    <app-toggle-tabs params_name="status" [tabs]="tabList" [defaultActive]="params.status"></app-toggle-tabs>
    <img class="cursor-pointer" src="../../../assets/filter-fram.svg" alt="">
    <app-button color="bg-[#E697AB] text-[#310000]" label="Add Project" icon="" routerLink="/project/form" [queryParams]="{view:'Project'}"></app-button>
  </div>
</div>

<app-list [columns]="columns" [items]="gs.items.projects" [params]="params"></app-list>