<app-header label="Project"></app-header>

<app-list [columns]="columns" [items]="items" [params]="params">
  <app-search-input></app-search-input>
  <div class="flex gap-4 items-center">
    <app-toggle-tabs params_name="status" [tabs]="tabList" [defaultActive]="params.status"></app-toggle-tabs>
    <img class="cursor-pointer" src="../../../assets/filter-fram.svg" alt="">
    <app-button color="bg-[#E697AB] text-[#310000]" label="Add Project" icon="" routerLink="/project/form" [queryParams]="{type:'Project'}"></app-button>
  </div>
</app-list>
<app-confirmation-popup #delete_project_row label="Delete Project?" [delete_icon]="true" cancelText="CANCEL" confirmColor="bg-[#FA2912] text-[#FFFFFF]" confirmText="YES, DELETE IT" [is_mandatory]="true" (confirm_modal_clicked)="delet_project()" (close_modal_clicked)="delete_project_row.close()">
  This action cannot be undone, and all associated data will be permanently removed.
</app-confirmation-popup>