<div class="relative w-full" [ngClass]="{'pointer-events-none': params.view}" (mouseleave)="dropdownOpen = false">
  <!-- Search Input -->
  <label *ngIf="label && (dropdownOpen || selectedOptions?.length)" [for]="label"
    class="pointer-events-none absolute text-base font-normal text-[#666666] duration-300 transform -translate-y-6 scale-75 top-2 origin-[0] bg-white px-2 peer-focus:px-2 peer-focus:text-gray-900 peer-placeholder-shown:scale-100 peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:top-1/2 peer-focus:top-2 peer-focus:scale-75 peer-focus:-translate-y-4 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto start-1 max-w-[98%] truncate ">{{label}}</label>

  <div #scrollContainer (mouseenter)="scrollContainer.focus()" (click)="dropdownOpen = !dropdownOpen" class="flex flex-nowrap overflow-x-auto no-scrollbar items-center border border-gray-300 rounded-lg bg-white px-2 pl-0 shadow-sm">
    <div class="sticky text-center flex items-center left-0 py-2 px-1 h-full min-h-12 min-w-6">
      <!-- <img class="bg-white" src="../../../assets/u_search.svg" alt=""> -->
      <i class='bx bx-search  pl-2 text-[#49454F] text-lg'></i>
      <!-- <i *ngIf="false" class='bx bx-search text-lg px-2 h-full min-h-10 min-w-6 mt-1'></i> -->
      <!-- <p *ngIf="true" class=' text-lg px-2 h-full min-h-[30px] min-w-6 mt-1'></p> -->
    </div>

    <div class="overflow-x-auto no-scrollbar flex z-10 gap-2 flex-nowrap">
      <ng-container *ngFor="let item of selectedOptions">
        <div class="flex items-center text-nowrap bg-[#CFD5F1] text-sm text-[#3F41D1] pl-[24px] pr-[18px] rounded-full">
          {{ item }}
          <button [ngClass]="{'pointer-events-none cursor-not-allowed': params.view}" class="ml-[10px] text-[#3F41D1] text-lg" (click)="removeItem(item)">×</button>
        </div>
      </ng-container>
      <input type="text" class="flex-1 p-1 text-[16px] focus:outline-none" [(ngModel)]="searchText" (keypress)="dropdownOpen = true" (keydown)="handleKeyDown($event)" (input)="filterOptions()" [placeholder]="selectedOptions.length || dropdownOpen ? '' : this.label" />
    </div>
  </div>

  <!-- Dropdown -->
  <div *ngIf="dropdownOpen" class="absolute z-10  w-full rounded-md bg-[#E8E8F9] shadow-lg max-h-60 overflow-auto">
    <ul class="text-gray-700">
      <li *ngFor="let option of filteredOptions" (click)="selectOption(option)" class="cursor-pointer px-4 py-2 hover:bg-blue-100 flex items-center">
        <input type="checkbox" [checked]="selectedOptions.includes(option)" class="mr-2" />
        {{ option }}
      </li>
    </ul>
  </div>
</div>

<div *ngIf="control && control.errors && (control.dirty || control.touched)" class="error-messages">
  <p class="text-red-500" *ngIf="control.errors.required">{{label.includes('_') ? (label | capitalizString) : label}} is required.</p>
  <p class="text-red-500" *ngIf="control.errors.minlength">Minimum length required is {{
      control.errors.minlength.requiredLength }}.
  </p>
  <p class="text-red-500" *ngIf="control.errors.maxlength">Maximum length allowed is {{
      control.errors.maxlength.requiredLength }}.
  </p>
  <p class="text-red-500" *ngIf="control.errors.pattern">Please enter a valid number
  </p>
</div>