<app-header [label]="active_tab == 'Project' ? 'Project / Add Project' : 'Project / Add Project / Add Sub-Project'"></app-header>
<div class="rounded-2xl border border-[#E4E7EC] flex flex-col w-full">
    <div class="flex flex-col bg-white p-6 rounded shadow w-full gap-4">
        <div class="flex items-center justify-between">
            <h1 *ngIf="active_tab == 'Project'" class="text-xl font-medium">Add Project</h1>
            <h1 *ngIf="active_tab == 'Sub-Project'" class="text-xl font-medium">MHCET <span class="text-base font-normal text-[#666666]">(01/03/2025 to 30/03/2025)</span></h1>
            <app-toggle-tabs [tabs]="tabList" [defaultActive]="'Project'"></app-toggle-tabs>
        </div>
        <div *ngIf="active_tab == 'Project'" class="flex flex-col w-full gap-6">
            <form [formGroup]="form" class="flex justify-between w-full gap-4">
                <div class="flex flex-col gap-6 w-full">
                    <app-text-input label="Project Name" formControlName="project_name"></app-text-input>
                    <app-radio label="Full Venue Required" [is_required]="true" formControlName="full_venue_required" [options]="[
                      { label: 'Yes', value: 'yes' },
                      { label: 'No', value: 'no' }
                    ]">
                    </app-radio>
    
                    <app-select-input label="Resource Type*" formControlName="resource_type" [options]="[{title:'name', value:'name'}]">
                    </app-select-input>
    
                    <div>
                        <app-text-area label="Short Description*" formControlName="description"></app-text-area>
                        <div class="text-right text-xs font-normal leading-[100%] text-gray-500">Max 100 Words</div>
                    </div>
    
                    <app-radio label="Audit Required" [is_required]="true" formControlName="audit_required" [options]="[
                      { label: 'Comprehensive Audit', value: 'Comprehensive Audit' },
                      { label: 'Limited Audit', value: 'Limited Audit' },
                      { label: 'By-Pass Audit', value: 'By-Pass Audit' }
                    ]">
                    </app-radio>
    
                    <!-- <div class="w-full">
                        <label class="block text-sm font-medium text-[#212121] text-opacity-60">Project Date*</label>
                        <div class="mt-1 flex gap-2 w-full">
                            <app-date-input class="w-full" formControlName="projectStartDate"></app-date-input>
                            <label class="block text-xl text-gray-700 mt-2">to</label>
                            <app-date-input class="w-full" formControlName="projectEndDate"></app-date-input>
                        </div>
                    </div> -->
                    <app-date-range-picker formControlName="project_start_date" label="Project Date"></app-date-range-picker>
                    <app-week-days formControlName="week_days"></app-week-days>
                </div>
                <div class="space-y-6 bg-[#F5F3FF] p-6 rounded-2xl border-[1px] w-full max-w-xl mx-auto">
                    <div class="flex justify-between items-center">
                        <app-radio label="Slot Type" [is_required]="true"  formControlName="slot_type" [options]="[
                        { label: 'Full Day', value: 'Full Day' },
                        { label: 'Time Slot', value: 'Time Slot' }
                      ]">
                        </app-radio>
    
                        <app-button color="border-[#3F41D1] text-[#3F41D1]" (click)="add_slot()" label="+ ADD SLOT">
                        </app-button>
                    </div>
                    <div formArrayName="slots" class="space-y-6 overflow-y-auto max-h-[617px] no-scrollbar">
                        <div *ngFor="let slot of slots.controls; let i = index" [formGroupName]="i" class="bg-white rounded-2xl border border-[#E5E7EB] p-4 flex flex-col gap-4 shadow-sm">
                            <h1 class="text-sm font-semibold text-gray-800 flex items-center gap-2">
                                <span (click)="remove_slot(i)" class="cursor-pointer">—</span>
                                Slot {{ i + 1 }}
                            </h1>
                            <!-- <div class="flex gap-2 w-full">
                                <app-date-input label="From Date" class="w-full" formControlName="startDate"></app-date-input>
                                <label class="block text-xl text-gray-700 mt-2">To</label>
                                <app-date-input label="To Date" class="w-full" formControlName="endDate"></app-date-input>
                            </div> -->
                            <app-date-range-picker class="w-full" formControlName="slot_start_date" label="Project Date"></app-date-range-picker>
                            <div class="flex justify-between w-full gap-2">
                                <app-date-input [format]="'time'" class="w-56" formControlName="start_time"></app-date-input>
                                <app-select-input label="Hours" formControlName="hours" class="w-56" [is_required]="true" [options]="[{ title: '1 Hrs', value: '1' },{ title: '2 Hrs', value: '2' },{ title: '3 Hrs', value: '3' },{ title: '4 Hrs', value: '4' },{ title: '5 Hrs', value: '5' }]">
                                </app-select-input>
                                <div class="relative w-10 h-10 rounded-full border border-gray-400 flex items-center justify-center cursor-pointer hover:bg-gray-100" (click)="add_pill(i)">
                                    <div class="absolute w-[1.5px] h-[18.33px] bg-gray-400"></div>
                                    <div class="absolute w-[1.5px] h-[18.33px] bg-gray-400 transform rotate-90"></div>
                                </div>
                            </div>
                            <div class="flex flex-wrap gap-2 mt-2">
                                <div *ngFor="let pill of (slot.get('pills')?.value || []); let j = index" class="flex items-center bg-[#FFF6C8] text-sm text-gray-800 px-3 py-1 rounded-full shadow-sm">
                                    {{ pill }}
                                    <button type="button" (click)="remove_pill(i, j)" class="ml-2 text-gray-500 text-2xl hover:text-red-500">
                                        &times;
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="flex rounded items-center justify-end gap-6 w-full top-0 shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.1)] py-4 bg-white">
                <app-button color="border-[#FA2912] text-[#FA2912]" label="DISCARD" (click)="confirmation_popup.open()"></app-button>
                <app-button color="border-[#3F41D1] text-[#3F41D1]" label="SAVE AS DRAFT"></app-button>
                <app-button (click)="submit_form()" color="bg-[#E697AB] text-[#310000]" label="SUBMIT"></app-button>
            </div>
        </div>
        <div *ngIf="active_tab == 'Sub-Project'" class="w-full flex flex-col gap-6">
            <div class="flex items-center w-full justify-between">
                <h1 class="text-xl text-[#212121] font-medium">Add Sub Project</h1>
                <app-button color="bg-[#3F41D1] text-[#FFFFFF]" (click)="open_sub_project.open()" label="ADD SUB PROJECT"></app-button>
            </div>
            <div class="overflow-x-auto relative print-section flex flex-col gap-5 mb-4 h-[calc(100%-360px)] md:h-[calc(100%-200px)] border border-[#3F41D1] rounded-md overflow-y-auto bg-white ">
                <div class="overflow-x-auto h-[608px]">
                    <table class="table-auto text-text-color-600 w-full border-collapse">
                        <thead class="sticky top-[0px] z-10 lg:z-[15] bg-white text-sm font-medium text-[#3F41D1] border-b border-[#CFD5F1] capitalize tracking-wider">
                            <tr class="flex items-center justify-between">
                                <th scope="col" class="px-4 h-12 text-center truncate flex items-center">Sub-Project Name</th>
                                <div class="flex items-center gap-2 px-4 h-12">
                                    <th scope="col" class=" text-center truncate flex items-center">Resource Type </th>
                                    <img class="w-6 h-6" src="../../../assets/Frame 1410266058.png" alt="" />
                                </div>
                                <div class="flex items-center gap-2 px-4 h-12 ">
                                    <th scope="col" class="text-center truncate flex items-center">Slot Type </th>
                                    <img class="w-6 h-6" src="../../../assets/Frame 1410266058.png" alt="" />
                                </div>
                                <th scope="col" class="px-4 h-12 text-center truncate flex items-center">Start Date-End Date</th>
                                <th scope="col" class="px-4 h-12 text-center truncate flex items-center">Status</th>
                            </tr>
                        </thead>
                        <tbody class="text-sm font-normal text-[#1E1E1E] tracking-[0.32px]">
                            <tr class="h-full">
                                <td colspan="5" class="px-6 py-16 text-center">
                                    <div class="flex flex-col items-center justify-center space-y-3 mt-60">
                                        <h3 class="text-base font-medium text-[#3F41D1]">NO SUB-PROJECTS FOUND!</h3>
                                        <p class="text-sm text-gray-500 max-w-md">It looks like you haven't Added any sub-projects yet. To get started, click the Create button to Add your first sub-project</p>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="flex rounded  items-center justify-end gap-6 w-full bottom-0 shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.1)] p-4  bg-white">
                <app-button color="border-[#FA2912] text-[#FA2912]" label="DISCARD"></app-button>
                <app-button color="border-[#3F41D1] text-[#3F41D1]" label="SAVE AS DRAFT"></app-button>
                <app-button color="bg-[#E697AB] text-[#310000]" label="SUBMIT"></app-button>
            </div>
        </div>
    </div>
</div>
<app-modal #open_sub_project scroll="true" label="Add Sub Project">
   
</app-modal>
<app-confirmation-popup
  #confirmation_popup
  label="Submit Project?"
  [icon]="'bx bx-rocket'"
  [iconColor]="'bg-blue-100'"
  [confirmText]="'YES, SUBMIT'"
  [confirmColor]="'bg-blue-700'"
  [cancelText]="'CANCEL'"
  [is_popup_visible]="true"
  [show_cancel_icon]="false"
>
  You're about to submit a new project. Make sure all details are correct before submitting.
</app-confirmation-popup>
