<div class="flex flex-col gap-2">
    <label class="text-sm font-medium text-[#3F41D1]">
        {{lebal}}<span *ngIf="is_required" class="col-span-2 text-[#212121] text-opacity-60">*</span>
        <span class="ml-4 font-normal italic text-[#00000099] text-xs">
            (Supported Only {{accept}}) ({{maxFileSize}}MB)
        </span>
    </label>
    <div class="flex flex-wrap gap-3">
        <ng-container *ngFor="let img of images; let i = index">
            <div class="relative w-40 h-28 rounded-lg border border-[#ccc] overflow-hidden flex items-center justify-center">
                <img [src]="img" alt="Uploaded" class="max-w-full max-h-full object-contain" />
                <button [disabled]="disabled || paramValue.view == 'true'" class="absolute top-1 right-1 bg-[#3F41D1] text-white rounded-full w-5 h-5 flex items-center justify-center text-xs hover:bg-red-600" (click)="removeImage(i)">
                    ✕
                </button>
            </div>
        </ng-container>
        <label *ngIf="multiple || images.length === 0" class="w-40 h-28 flex items-center justify-center rounded-lg border-[1.5px] border-dashed bg-[#3F41D11A] border-[#3F41D1] cursor-pointer relative">
            <input [disabled]="disabled || paramValue == 'true'" [accept]="accept" type="file" [multiple]="multiple" (change)="onImageSelected($event)" class="hidden" accept=".jpg,.jpeg,.webp,.png" />
            <img src="../../../assets/Vector (1).svg" class="w-11 h-11" alt="Upload Icon" />
        </label>
    </div>
</div>
<div *ngIf="control && control.errors && (control.dirty || control.touched)" class="error-messages">
    <p class="text-red-500" *ngIf="control.errors.required">{{lebal}} is required.</p>
</div>