<!-- <div class="w-full border rounded-md px-4 py-2 flex items-center gap-3 text-gray-600 cursor-pointer" (click)="openPicker()">
  <img class="h-10 w-10" src="../../../assets/CalendarDots.svg" alt="">

  <div class="flex-1 flex justify-center whitespace-nowrap">
    <span *ngIf="value.start && value.end; else placeholder">
      {{ value.start | date: 'dd-MM-yy' }} to {{ value.end | date: 'dd-MM-yy' }}
    </span>
    <ng-template #placeholder>
      DD-MM-YY to DD-MM-YY
    </ng-template>
  </div>
  <mat-date-range-input [rangePicker]="picker" class="hidden">
    <input class="hidden" matStartDate [(ngModel)]="value.start" />
    <input class="hidden" matEndDate [(ngModel)]="value.end" />
  </mat-date-range-input>

  <mat-date-range-picker #picker></mat-date-range-picker>
</div> -->


<div
  class="w-full border rounded-md px-4 py-2 flex items-center gap-3 text-gray-600 cursor-pointer"
  (click)="openPicker()"
>
  <mat-icon class="text-gray-500">calendar_today</mat-icon>

  <div class="flex-1 flex justify-start whitespace-nowrap">
    <span class="[word-spacing:0.16rem]" *ngIf="value.start && value.end; else placeholder">
      {{ value.start | date: 'dd-MM-yy' }} To {{ value.end | date: 'dd-MM-yy' }}
    </span>
    <ng-template class="[word-spacing:0.16rem]" #placeholder>
      <div class="[word-spacing:0.16rem]">
        DD-MM-YY To DD-MM-YY
      </div>
    </ng-template>
  </div>

  
    <div>
      <mat-date-range-input [rangePicker]="picker" class="hidden">
        <input class="hidden" matStartDate [(ngModel)]="value.start"  placeholder="DD-MM-YY"  />
        <input class="hidden" matEndDate [(ngModel)]="value.end"  placeholder="DD-MM-YY"  />
      </mat-date-range-input>
    
      <mat-date-range-picker #picker></mat-date-range-picker>
    </div>
 
</div>
