<div [ngClass]="{ 'pointer-events-none': params.view }" class="flex flex-col gap-2 w-full">
  <label class="text-sm font-medium text-[#212121] text-opacity-60">
    {{ label }}
    <span *ngIf="is_required" class="text-[#212121] text-opacity-60">*</span>
  </label>
  <div class="flex flex-wrap gap-4 sm:gap-6 md:gap-8">
    <label *ngFor="let option of options" class="flex items-center gap-2 cursor-pointer whitespace-nowrap">
      <input type="radio" style="accent-color : #3F41D1" [value]="option.value" [checked]="option.value == value" (change)="select(option.value)" class="form-radio text-blue-600 w-5 h-5 shrink-0" />
      <span [ngClass]="{
          'text-[#3F41D1] font-medium': option.value == value,
          'text-gray-700': option.value != value
        }" class="text-sm leading-tight">
        {{ option.label }}
      </span>
    </label>
  </div>
</div>


<div *ngIf="control && control.errors && (control.dirty || control.touched)" class="text-red-500 text-sm mt-1">
  <p *ngIf="control.errors['required']">{{ label }} is required.</p>
</div>