<div *ngIf="is_popup_visible" class="fixed top-0 left-0 z-40 flex items-center justify-center w-full h-full bg-black bg-opacity-70 backdrop-blur-sm  ">
    <div class="bg-white rounded-lg w-[471px] h-[294px]  p-[24px]  ">
        <button (click)="close()" type="button" *ngIf="show_cancel_icon" class="text-gray-400 bg-transparent hover:bg-gray-100 hover:text-gray-900 rounded-full text-sm w-8 h-8 ms-auto inline-flex justify-center items-center">
            <i class="bx bx-x text-xl"></i>
            <span class="sr-only">Close modal</span>
        </button>
        <div class="flex flex-col items-center justify-center">
            <div class="rounded-full h-[84px] w-[84px] flex items-center justify-center bg-{{iconColor}}">
                <!-- <i [ngClass]="icon" class="text-3xl text-white bx bx-x"></i> -->
                <img [ngClass]="img" [src]="img" alt="" class="w-10 h-10 ">
            </div>
            <h2 class="text-xl font-semibold text-gray-800 text-center">{{ label }}</h2>
            <p class="text-center text-gray-600 text-sm">
                <ng-content></ng-content>
            </p>
        </div>
        <div class="flex  justify-between gap-[24px] px-6 pt-4">
            <button (click)="close()" class="w-full bg-gray-100 text-blue-600 font-semibold px-6 py-2 rounded-full">
                {{ cancelText }}
            </button>
            <button class="text-white w-full font-semibold px-6 py-2 rounded-full bg-{{confirmColor}}">
                {{ confirmText }}
            </button>
        </div>
    </div>
</div>