<app-header label="Project"></app-header>

<app-list [currentPage]="currentPage" [totalPages]="totalPages" [totalItems]="totalItems" [itemsPerPage]="itemsPerPage" label="No projects found!" description="It looks like you haven't Added any projects yet. To get started,
click the Create button to Add your first project" [columns]="columns" [items]="items" [params]="params">
  <app-search-input></app-search-input>
  <div class="flex gap-4 items-center">
    <app-toggle-tabs [disabled]="!items.length && !params.status" params_name="status" [tabs]="tabList" [defaultActive]="params.status"></app-toggle-tabs>
    <app-button color="bg-[#E697AB] text-[#310000]" label="Project" icon="bx bx-plus" routerLink="/project/form" [queryParams]="{type:'Project'}"></app-button>
  </div>
</app-list>
<app-confirmation-popup #delete_project_row label="Delete Project?" [delete_icon]="true" cancelText="CANCEL" confirmColor="bg-[#FA2912] text-[#FFFFFF]" confirmText="YES, DELETE IT" [is_mandatory]="true" (confirm_modal_clicked)="delet_project()" (close_modal_clicked)="delete_project_row.close()">
  This action cannot be undone, and all associated data will be permanently removed.
</app-confirmation-popup>